services:
  strategy1:
    build:
      context: .
    container_name: binance-strategy1
    restart: unless-stopped
    environment:
      - TZ=Asia/Seoul
      - LOG_FILENAME=strategy1.log
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env:ro  # python-dotenvìš© (load_dotenv)
    networks:
      - bot-network

networks:
  bot-network:
    driver: bridge