<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>binance_practice</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            fetchData();
            feehData();
            total();

            var search_button = document.getElementById("search")

            search_button.addEventListener('click', search);

        })

        function total() {
            //총 수익
            var sum = parseFloat(sessionStorage.getItem("realized_pnl_sum"));
            var feeSum = parseFloat(sessionStorage.getItem("fee_sum"));
            var total = sum + feeSum;

            document.getElementById("total").innerHTML = total;
        }

        function search() {

            document.getElementById('tbody').innerHTML = '';
            fetchData();
            feehData();
            total();
        }
        // 서버에서 데이터 요청
        async function fetchData() {
            try {
                var response = await fetch('/data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        start_time: document.getElementById('start_time').value,
                        end_time: document.getElementById('end_time').value
                    })
                });
                var data = await response.json(); // JSON으로 변환
                var data = data.reverse();
                var sum = 0;
                for (var vo of data) {

                    var row = document.createElement("tr");

                    var symbolCell = document.createElement("td");
                    symbolCell.textContent = vo['symbol'];
                    row.appendChild(symbolCell);

                    var incomeTypeCell = document.createElement("td");
                    incomeTypeCell.textContent = vo['incomeType'];
                    row.appendChild(incomeTypeCell);

                    var incomeCell = document.createElement("td");
                    incomeCell.textContent = vo['income'];
                    row.appendChild(incomeCell);

                    sum += parseFloat(vo['income'])

                    var timeCell = document.createElement("td");
                    timeCell.textContent = convertToKSTAndFormatTime(parseInt(vo['time']));
                    row.appendChild(timeCell);

                    // 테이블에 <tr> 추가
                    var tbody = document.getElementById('tbody');
                    tbody.appendChild(row);
                }

                document.getElementById("sum").innerText = sum;

                sessionStorage.setItem("realized_pnl_sum", sum);

                //데이터 총 갯수
                var count = data.length;
                document.getElementById("realized_pnl").innerText = count;


            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        // 서버에서 데이터 요청
        async function feehData() {
            try {
                var response = await fetch('/fee', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        start_time: document.getElementById('start_time').value,
                        end_time: document.getElementById('end_time').value
                    })
                });
                var data = await response.json(); // JSON으로 변환
                var data = data.reverse();
                var sum = 0;
                for (var vo of data) {
                    sum += parseFloat(vo['income'])
                }

                document.getElementById("feeSum").innerText = sum;

                sessionStorage.setItem("fee_sum", sum);

                //데이터 총 갯수
                var count = data.length
                document.getElementById("commission").innerHTML = count;

            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        function convertToKSTAndFormatTime(timeString) {
            var time = new Date(timeString);
            var kstOffset = 9 * 60 * 60 * 1000; // 한국 표준시(KST)의 밀리초 단위 시차 (UTC+9)

            // UTC 시간에 시차를 더하고 KST로 변환
            var kstTime = new Date(time.getTime() + kstOffset);

            // 연, 월, 일 추출
            var year = kstTime.getUTCFullYear();
            var month = (kstTime.getUTCMonth() + 1).toString().padStart(2, "0"); // 월은 0부터 시작하므로 1을 더해야 함
            var day = kstTime.getUTCDate().toString().padStart(2, "0");

            // 시, 분, 초, 밀리초 추출
            var hours = kstTime.getUTCHours().toString().padStart(2, "0");
            var minutes = kstTime.getUTCMinutes().toString().padStart(2, "0");
            var seconds = kstTime.getUTCSeconds().toString().padStart(2, "0");
            var milliseconds = kstTime.getUTCMilliseconds().toString().padStart(3, "0");

            // "HH:mm:ss.SSS" 형식으로 시간을 반환
            return year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds + "." + milliseconds;
        }
    </script>
</head>
<body>
<div>
    <h1>체결 내역(UST) (최대 1000개 보여줌)</h1>
    시작일<input type="text" id="start_time" value=""/> ~
    종료일<input type="text" id="end_time" value=""/>
    <button type="button" id="search">검색</button>
    <table>
        <tr>
            <th>REALIZED_PNL</th>
            <th>COMMISSION</th>
        </tr>
        <tr>
            <td id="realized_pnl" style="text-align: center"></td>
            <td id="commission" style="text-align: center"></td>
        </tr>
        <tr>
            <th>합계</th>
            <th>수수료 합계</th>
            <th>총 수익</th>
        </tr>
        <tr>
            <td id="sum"></td>
            <td id="feeSum"></td>
            <td id="total"></td>
        </tr>
    </table>
    <table id="tradesTable">
        <thead>
            <tr>
                <th>symbol</th>
                <th>incomeType</th>
                <th>income</th>
                <th>time</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</div>
</body>
</html>